<!DOCTYPE html>
<html>
  <head>
    <title>DemoMoney</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= link_to  "Home", debt_path %>
      <%= link_to  "Creditor", credit_path %>
      <%= link_to  "History", history_path %>
      <%= link_to  "Log out", logout_path %>
    </div>
    
    <%= yield %>
  </body>
</html>
